#screen {
    background-color: rgba(197, 11, 11, 0.664);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}



body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(61, 56, 56);
    color: white;
}

p {
    font-style: italic;
}
